/* Text*/
.text-center{
    text-align: center;
}
.heading-small{
    font-size: 1.25rem;
}
.heading-medium{
    font-size: 1.5rem;
}
.heading-big{
    font-size: 1.75rem;
}
/* Colors*/
.bg-dark-blue{
    background: #062e51;
}
.bg-light-blue{
    background: #336ae2;
}
/* Button */
.btn{
    margin-top: 1.25rem;
    padding: 0.8rem;
    border-radius: 8px;
    letter-spacing: 1px;
}
.btn-primary{
    background: #336ae2;
}
.btn-primary:hover{
    color: #336ae2;
    background: #fff;
    border: 0.5px solid #336ae2;
}
.btn-dark{
    background: #333;

}
.btn-dark:hover{
    color: #333;
    background: #fff;
    border: 0.5px solid #333;
}
.btn-block{
    width: 100%;
}
/*Forms*/
.form-group{
    padding: 0.25rem 0;
}
.form-group label{
    display: block;
}
.form-control{
    width: 100%;
    padding: 0.4rem;
    font-size: 1rem;
    resize: none;
    border-radius: 8px;
}
/* Container*/
.container{
    max-width: 1100px;
    margin: 0 auto;
}
